<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
      </configSections>
<nlog throwExceptions="true"
      throwConfigExceptions="true"
      internalLogFile="c:\logfiles\nlog\nlog.log" 
      internalLogLevel="Trace">
  <targets>
    <target name="file" type="File" fileName="c:\logfiles\nlog\log.txt" />
  </targets>
  <rules>
    <logger name="*" minLevel="Trace" writeTo="file" />
  </rules>
</nlog>
  </configuration>


